/*Configuracion general del navegador*/
*{
    margin: 0;
    padding: 0;
}



.piePagina{
    width: 100%;
    height: 100px;
    background-color: #151515;
    bottom: 0;
    color: white;
    position: fixed;
    left: 0px;
}
#datos{
    width: 80%;
    background-color: #151515;
    height: 600px;
    margin: auto;
    opacity: 1;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
}

p.descripcion{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    color: white;
}

a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    
}

a: link {
    color: #fff;
}

a:visited{
    color: #e1dddd;
}

a:hover {
    text-decoration: underline;
    background-color: #0b0b0b;
    color: #fff;
    
}
a:active{
    background: #767676;
}

input {
 border: none;
 background: #0b0b0b;
 color: #fff;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
     width: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
}
input:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}

input:hover:before {
 width: 100%;
}
button {
 border: none;
 background: #0b0b0b;
 color: #fff;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}
button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}

button:hover:before {
 width: 100%;
    cursor: pointer;
}

textarea {
 border: none;
 background: #0b0b0b;
 color: #fff;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
 width: 100%;
 border: 2px solid black;
 margin-bottom: 20px;
 min-height: 100px;
 max-height: 200px;
    max-width: 100%;
    
        
}
textarea:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}

textarea:hover:before {
 width: 100%;
}

form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: : 7px;
    
    
}

@media (max-width:480px){
    
    form{
        width: 100%;    }
    
    table{
        100%;
    }
}

.importante {
    width: 95%;
    margin: auto;
    overflow: hidden;
    
}

.importante  ul{
    display: flex;
    padding: 0;
    width: 500%;
    
    animation: cambio 20s infinite;
    animation-direction: alternate;
    
}
.importante  li{
    list-style:  none;
    width: 100%;
}

.importante  img{
    width: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
    125%{margin-left: -400%;}
    150%{margin-left: -400%;}
    
}
